body{
    font-family: "Lato";
}
#main-container h1{
    color: white;
    background-color: steelblue;
    margin: 0;
    padding-left: 20px;
}

#main-container form{
    padding-left: 20px;
}

#main-container {
    padding: 0;
    width: 400px;
    min-height: 200px;
    margin: 50px auto;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px black;
}

.completed-li{
    text-decoration: line-through;
    color: gray;
}
